APP_NAME=VWAJEN
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

# Pou dev sou telefòn / emilatè: mete URL korek la (egz. http://192.168.1.101:8000)
# pou medya (storage) ak app mobil ki pointe nan menm host la.
